/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-mar-2019, 20:58:54
    Author     : cetecom
*/


/*DEFINIR ESILO*/
.parrafos{
     font-size: 20px;
     color: green;
     background: red;
     border: 1px;
     border-color: black;
}

.parrafos1{
    font-size: 20px;
     color: green;
     background: black;
     border: 5px;
     border-color: white;
}

#parrafo1{ /*para definir estilo por ID se aplica con #*/
    font-size: 20px;
     color: green;
     background: red;
     border: 1px;
     border-color: black;
}

#parrafo2{
     font-size: 150px;
     color: pink;
     background: red;
     border: 3px;
     border-color: black;
     border-style: solid;
}

@media only screen and (max-width:450px){
    
}
